servers:
  Staycool Backend:
    type: flask
    env:
      FLASK_APP: server.py
    command: flask run
    venv: $dir/.venv
    dir: /Users/mephisto/projects/staycool-backend

  Staycool Scanner:
    type: flask
    env:
      FLASK_APP: server.py
    command: flask run
    venv: $dir/.venv
    dir: /Users/mephisto/projects/staycool-scanner

  Staycool Frontend:
    type: npm
    command: npm run serve
    dir: /Users/mephisto/projects/staycool